body {
  background-color: #262626;
  overflow: hidden;
}

#root {
  height: 100vh;
}

.container {
  margin-top: 45vh;
  transform: translateY(-50%);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 35px;
  color: #ffffff;
}

.resetButton {
  display: block;
  /* width: 180px;  */
  height: 50px;
  margin-left: 50%;
  transform: translateX(-50%);

  margin-top: 25px;

}